body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: Merriweather, 'Times New Roman', Times, serif;
  color: #408ab3;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

h2 {
  font-size: 2rem;
}

hr {
  width: 75%;
}

.top-container {
  margin-top: 0;
  display: block;
}

.topnav {
  overflow: hidden;
  background-color: white;
  top: 0;
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: center;
}

.main-nav {
  margin-left: 40%;
  padding: 7px 0 0 0;
  text-align: end;
}

.topnav h1,
.main-nav * {
  color: #343a40;
  text-decoration: none;
  border: none;
  padding: 5px 15px 5px;
  text-align: center;
  display: inline;
  font-size: 15px;
}

.topnav h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 25px;
  margin-inline-end: 0;

}

.logo a {
  font-family: Lora, "Times New Roman", Times, serif;
  color: #343a40;
  text-decoration: none;
  text-align: center;
  padding: 0px 15px;
  font-size: 25px;
}

.main-nav input {
  width: 15%;
  padding: 10px 0;
  margin: 0;
  outline: none;
}

.main-nav a:hover {
  color: #ff7287;
  transition: all 200ms ease-in-out;
}

.main-nav a:active {
  color: #ff7287;
}

.hero {
  display: flex;
  background-image: linear-gradient(rgba(255, 138, 157, 0.5), rgba(255, 255, 255, 0.5)),
    url(../images/pexels-irina-iriser-785293.jpg);
  height: 375px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.credit {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #343434;
  font-size: small;
}

.credit a {
  color: #343434;
  font-size: small;
}

.card {
  overflow: hidden;
  text-align: center;
  margin: auto;
  line-height: 10px;
  vertical-align: middle;
  background-color: white;
  color: #343a40;
  border-radius: 10px;
  padding: 30px 25px;
  box-shadow: 0px 5px 10px rgb(66 66 66 / 56%);
  width: 35%;
}

.card * {
  font-family: Lora, "Times New Roman", Times, serif;
}

.card h2 {
  font-weight: lighter;
  font-size: 50px;
  color: #ff7287;
  margin: 41.5px 0;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.profile-text {
  font-family: Lora,
    "Times New Roman",
    Times,
    serif;
  width: 40%;
  margin: 0 0 15px;
  line-height: 0.75cm;
  text-align: justify;
}

.profile img {
  border-radius: 50%;
  height: 250px;
}

.posts {
  display: flex;
  justify-content: center;
  margin: 10px 0 30px;
}

.slides {
  border: solid #747474 1px;
  margin: 20px 15px;
  
  
}

.slides:hover{
box-shadow: 0 0 10px rgb(66 66 66 / 0.4);
transition: box-shadow 200ms ease-in-out;
}

.slides img {
  margin: 0;
  padding: 0 5px;
  height: 150px;
  background-color: #343434;
}

.slide-detail {
  font-size: 0.75rem;
  display: flex;
  gap: 80px;
  justify-content: center;
  margin: 5px 5px 0;
}

.slide-detail *{
  font-family: "Montserrat", sans-serif;
  color:#4f4f4f;
  margin: 5px;
  font-weight: lighter;
}

.contact-me p{
  text-align: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 15px;

}


.btn {
  appearance: none;
  background-color: white;
  text-decoration: none;
  border: 1px solid #ff7287;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ff7287;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.02cm;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: background-color, border, color 200ms, 200ms, 200ms ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: #ff7287;
  border: 1px solid transparent;
  color: white;
}

.bottom-container{
  padding: 15px 0;
  margin-top: 20px;
  background-color: #408ab3;
}

.bottom-container *{
  text-decoration: none;
  margin: 0 10px;
  color: #B6E5FF;
}

.bottom-container p {
  margin: 20px 0 0;
  font-size: smaller;
}
